.Header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  z-index: 20;
}
.topHead {
  width: 100%;
  height: 2rem;
  background-color: rgba(30, 31, 41, 255);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.AboutUs {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.AboutUs div {
  display: flex;
  gap: 1.5rem;
}
.AboutUs i {
  padding-right: 0.3rem;
}
@media (max-width: 1000px) {
  .AboutUs {
    width: 90%;
  }
}
@media (max-width: 700px) {
  .topHead {
    display: none;
  }
}
.nav {
  width: 100%;
  height: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(21, 22, 29, 255);
  border-bottom: 3px solid rgb(196, 0, 0);
  color: white !important;
  transition-duration: 0.3s;
}
.navSearchbox {
  width: 60%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition-duration: 0.5s;
}
.Logo {
  width: 20%;
  height: 100%;
}
.Logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.searchBox {
  width: 50%;
  height: 2.5rem;
  border-radius: 10rem;
  display: flex;
  overflow: hidden;
  transition-duration: 0.3s;
}
.searchBox input {
  width: 90%;
  height: 100%;
  font-size: 1.05rem;
  border: none;
  color: black;
  outline: none;
  padding-left: 1rem;
}
.searchBox .searchBtn {
  width: 10%;
  height: 100%;
  font-size: 1.05rem;
  border: none;
  color: white;
  background-color: rgb(223, 30, 62);
  transition-duration: 0.3s;
  cursor: pointer;
}
.searchBox .searchBtn:hover {
  box-shadow: 0 0 5px rgb(220, 12, 46);
  background-color: rgb(247, 11, 11);
}

.wishAndBasket {
  width: 20%;
  height: 100%;
  display: flex;
}
.wishAndBasket .basWish {
  width: 50%;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  flex-direction: column;
  transition-duration: 0.4s;
  cursor: pointer;
}
.wishAndBasket .basWish:hover {
  color: rgb(179, 3, 3);
}
.wishAndBasket .basWish i {
  font-size: 1.2rem;
}
.basket {
  position: relative;
}
.basketCount {
  position: absolute;
  top: -0.5rem;
  right: 1.8rem;
  width: 1.1rem !important;
  height: 1.1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  color: white;
  background-color: rgb(179, 28, 28);
}
@media (max-width: 1385px) {
  .navSearchbox {
    width: 80%;
  }
}
@media (max-width: 1000px) {
  .navSearchbox {
    width: 99%;
    gap: 0.5rem;
  }
}
@media (max-width: 850px) {
  .searchBox {
    width: 65%;
  }
  .wishAndBasket {
    width: 12%;
  }
  .wishAndBasket span {
    display: none;
  }
  .wishAndBasket i {
    font-size: 1.3rem;
  }
  .wishAndBasket div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .basket{
    justify-content: center;
  }
  .wishAndBasket .basWish i{
    font-size: 1rem;
  }
  .basketCount{
    width: .9rem;
    height: .9rem;
    font-size: .7rem;
    top: .3rem;
    right: 0;
  }
}
@media (max-width: 700px) {
  .nav {
    height: 5rem;
  }
  .Logo {
    width: 8rem;
  }
}
@media (max-width: 500px) {
  .searchBox input{
    width: 80%;
  }
  .searchBtn{
   width: 20% !important;
  }
}
.navLinks {
  width: 100%;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-bottom: 1px solid rgba(191, 191, 191, 0.604);
  transition-duration: .3s;
}
.PageLinks {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1.7rem;
  padding-left: 0.5rem;
  transition-duration: 0.3s;
}
.Links {
  transition-duration: 0.3s;
  text-decoration: none;
  color: black;
}
.openLinksMenu{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1000px) {
  .PageLinks {
    width: 95%;
  }
}
@media (max-width: 700px) {
  .PageLinks {
    gap: 0;
    justify-content: space-evenly;
  }
}
@media (max-width: 580px) {
  .navLinks {
    position: relative;
    cursor: pointer !important;
    background-color: rgb(245, 245, 245);
  }
  .navLinks:hover{
    background-color: rgb(207, 207, 207);
  }
  .PageLinks {
    display: none;
    position: absolute;
    width: 100%;
    height: 15rem;
    top: 3rem;
    left: 0;
    padding: 0;
    backdrop-filter: blur(2px);
    flex-direction: column;
    border: 1px solid rgb(180, 180, 180);
    border-radius: .4rem;
    background-color: rgba(214, 214, 214, 0.566);
    z-index: 5;
    animation: slideUp2 0.6s ease-in-out forwards;
  }
  @keyframes slideUp2 {
    from {
      top: 0px;
      opacity: 0;
    }
    to {
      bottom: -390px;
      opacity: 1;
    }
  }
  .Links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
  }
  .Links:hover {
    background-color: rgb(192, 192, 192);
  }
}
.darkGlass {
  position: absolute;
  width: 100%;
  height: 76rem;
  background-color: rgba(0, 0, 0, 0.58);
  z-index: -1;
}
.SearchResulteContainer {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 280px;
  overflow: hidden;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 2rem;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 10;
  gap: 1rem;
  transition-duration: .6s;
  animation: slideUp 0.6s ease-in-out forwards;
}
@keyframes slideUp {
  from {
    bottom: -150px;
    opacity: 0;
  }
  to {
    bottom: -380px;
    opacity: 1;
  }
}

.productsList {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  gap: 1rem;
}
.notFound {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}

.productItem {
  width: 200px;
  text-align: center;
  padding: 10px;
  border: 1px solid #090909;
  border-radius: 5px;
  background-color: #8c4e4e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width:50% ;
}

.paginationBtn{
  width: 50%;
  height: 100%;
  font-size: 1.05rem;
  border: none;
  border-radius: 0.5rem;
  color: white;
  background-color: rgb(255, 49, 84);
  cursor: pointer;
  padding: 5px 10px;
  transition: all 0.4s ease;
}
.paginationBtn:hover{
  background-color: rgb(216, 1, 37) !important;
}

.disabledButton {
  width: 50%;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #e9ecef;
  color: #6c757d;
  cursor: not-allowed;
  opacity: 0.7;
}
.disabledButton:hover{
  background-color:#e9ecef !important ;
}
.resulteCart {
  position: relative;
  width: 25%;
  height: 12rem;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.4s ease;
}
.resulteCart:hover{
  transform: scale(1.02);
  box-shadow: 0 0 8px rgb(196, 196, 196);
}
.resulteCart img {
  width: 100%;
  height: 100%;
}
.resulteCart div {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 17%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(44, 44, 44, 0.309);
  backdrop-filter: blur(2px);
}
@media (max-width: 1000px) {
  .SearchResulteContainer {
     width: 90%;
     padding: 7px;
     height: 260px;
     top: 270px;
  }
}
@media (max-width: 768px) {
  .SearchResulteContainer {
    padding: 20px 9px;
    height: 240px;
    top: 260px;
 }
.resulteCart{
 width: 9rem;
 height: 10rem;
}
.resulteCart div{
  height: 25%;
  font-size: .8rem;
}
.pagination{
  gap: 5px;
}
}
@media (max-width: 700px) {
  .SearchResulteContainer{
    top: 220px;
  }
}
@media (max-width: 500px) {
  .SearchResulteContainer {
    width: 100%;
    top: 180px;
    height: 180px;
    padding: 0 4px;
    justify-content: space-evenly;
 }
 .productsList{
  gap: .3rem;
 }
.resulteCart{
 width: 25%;
 height: 7rem;
}
.resulteCart div {
  font-size: .5rem;
}
}